src/xml/AgendaDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!-- TODO define your own vocabulary/syntax. Example follows:  -->
<!ELEMENT agenda (contactos , libros)>
<!ELEMENT contactos (#PCDATA)>
<!ELEMENT ejemplo (#PCDATA)>
<!ELEMENT libros EMPTY>

<!ATTLIST libros id CDATA #REQUIRED
                        codAutor CDATA #IMPLIED>  


