src/xml/DTDOTRO.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT agenda (contactos* , libros*)>
<!ELEMENT libros (libro*)>
<!ELEMENT contactos (contacto*)>
<!ELEMENT contacto (nombre*,telefono*)>


<!ELEMENT telefono (#PCDATA)>
<!ELEMENT libro (nombre*,prestadopor*)>
<!ELEMENT prestadopor (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>



<!ATTLIST contacto id CDATA #REQUIRED>

<!ATTLIST libro id CDATA #REQUIRED>







